<form method="POST" action="/forex">
    <div class="form-group main">

        <div><label>Select Banks:</label></div>
        <select class="selectpicker" multiple  data-live-search="true" name="banks" data-actions-box="true" data-size="8">
            {% for bank in bank_list %}
            <option value="{{ bank['bank_symbol'] }}">{{ bank['bank_name']}}</option>
            {% endfor %}
        </select>
        <div><button type="submit" class="btn btn-outline-primary">Get Forex</button></div>
    </div>
</form>